* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.nav {
    width: 100%;
    background-color: #c82333;
    text-align: center;
    padding: 10px 0;
    box-shadow: 1px 3px 10px #777;
}

.nav > a {
    text-decoration: none;
    color: #cccccc;
    font-size: 20px;
    margin-top: 10px;
}

.tip {
    text-align: center;
    padding: 20px;
    font-size: 14px;
    color: #999;
}

.task {

}

.plus {
    font-size: 18px;
    outline: none;
    position: fixed;
    bottom: 30px;
    right: 30px;
    background-color: #c82333;
    color: #cccccc;
    width: 40px;
    height: 40px;
    border: none;
    border-radius: 50%;
    box-shadow: 1px 3px 10px #777;
}

.input {
    width: 50%;
    margin: 0 auto;
    display: none;
}

.input > input {
    width: 80%;
    border: 2px solid #ccc;
    outline: none;
    padding: 10px;
}

.input > input:focus {
    /*outline: 1px solid #c82333;*/
    border: 2px solid #c82333;
}

.input > button {
    width: 20%;
    border: 1px solid #c82333;
    background-color: #c82333;
    outline: none;
    position: relative;
    top: -39px;
    left: 80%;
    padding: 6px;
    color: #cccccc;
    font-size: 18px;
}

.task-outer {
    min-height: 30px;
    width: 50%;
    margin: 0 auto 10px auto;
}

.task-button {
    min-height: 30px;
    width: 50%;
    margin: 0 auto 10px auto;
}


.task-outer-label {
    min-height: 30px;
    width: 50%;
    margin: 10px auto 10px auto;
    padding: 5px;
    background-color: #eee;
}

.task-outer-label > div {
    width: 15%;
    margin: 0 auto;
}
.task-outer-log{
    min-height: 30px;
    width: 50%;
    margin: 10px auto 10px auto;
    padding: 5px;
    background-color: #eee;
}
.task-outer-log span{
    color: #c82333;
}

.task-item {
    padding: 5px 5px;
    border: 1px solid #cccccc;
}

.task-item > form > i {
    color: #aaa;
    margin: 0 10px;
}

.task-item > form > button > i {
    margin-right: 5px;
}

.icon-i {
    color: #aaa;
}

.task-item > form > span {

}

.tasking {

}

.tasked {

}

.btn {
    font-size: 22px;
    border: none;
    background-color: #fff;
}

.task-outer {
    border: 1px solid #cccccc;
}
.task-item > form:after,
.task-item > form:before{
    content: '';
    clear: both;
    display: block;
}

@media (max-width: 700px) {
    .task-outer,
    .task-button,
    .task-outer-log,
    .task-outer-label,
    .input {
        width: 80%;
    }
}